---
title: BritePool API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
  - html

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

<%= partial "includes/intro.md.erb" -%>

# Metrics
<%= partial "includes/dsp_bid_requested.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/dsp_bid_returned.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/dsp_ad_win_notification.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/request_object.md.erb" -%>
